// Contact.scss

#contact {
  padding: 20px;
}



.contact_wrapper {
  background-color: #ffffff; // White background for the contact form
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-flex {
  display: flex;
  gap: 15px;

  .MuiFormControl-root {
    flex: 1;
  }
}

.MuiTextField-root {
  width: 100%;

  // Ensure the text color inside the input fields is black
  input {
    color: black;
  }

  textarea {
    color: black;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

button {
  float: right;
  background-color: #5000ca; // Purple button color
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none; // Ensure there's no border
}

button:hover {
  background-color: #3b00a1; // Darker purple on hover
}
